<div class="container">

  <div class="text-center">
    <p class="text fs-1 fw-bolder pt-3">Beatriz Pedro</p>
    <p class="fs-3 fw-normal">Developer & Designer</p>
  <div class="fs-5">

  <div class="row align-items-center">

    <!-- Container da Imagem -->
    <div class="col-md-6 order-md-1 d-flex justify-content-center">
      <div class="image-container">
        <img src="assets/images/bia-logo.png" class="img-fluid rounded-circle static-image" alt="cupcake morango"
          (click)="expandImage('assets/images/bia-logo.png')"> <!-- Clique para expandir a imagem -->
      </div>
    </div>
    <p class="fs-2 pt-1"></p>

    <!-- Container do Texto -->
    <div class="col-md-6 order-md-2">
      <div class="p-4 text-start">
        <div class="fs-4">
          <p>Olá!</p>
          <p>Meu nome é Beatriz Pedro.</p>
          <p>Recém-graduada em Análise e Desenvolvimento de Sistemas, sou apaixonada por Tecnologia e Design.</p>
          <p>A junção da arte, criatividade e técnicas de design com a lógica e algoritmos de programação é a minha maior motivação profissional.</p>
          <p>Durante a jornada acadêmica, realizei sete projetos extensionistas, com clientes reais, que trouxeram experiências extremamente relevantes para o meu preparo profissional.</p>
          <p>Separei alguns trabalhos para mostrar nas próximas páginas. Espero que você goste!</p>
          <p>Bon voyage!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="fs-4 pt-4"></p>
    <p class="text fs-2 fw-bolder pt-3">TECH SKILLS</p>
  <div class="fs-5">
  <p class="fs-4 pt-1"></p>

<!-- CARDÁPIO -->
<div class="row row-cols-2 row-cols-md-4 g-4 pt-4">
  <div class="col" *ngFor="let item of cardapioItems">
    <div class="card c-cardapio">
      <img
        [src]="item.image"
        class="card-img-left cardapio"
        alt="{{ item.title }}"
        (click)="expandImage(item.image)">
      <div class="card-body text-center">
        <p class="card-title">{{ item.title }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal para exibir a imagem ampliada -->
<div class="modal" [ngClass]="{'show-modal': showModal}" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <img [src]="selectedImage" alt="Imagem ampliada" class="modal-img">
  </div>
 </div>
</div>
