.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 999; /* Garantir que fique sobre outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
  justify-content: center;
  align-items: center;
}

/* Quando o modal estiver ativo */
.show-modal {
  display: flex; /* Exibir o modal e centralizar conteúdo */
  margin-top: 2rem;
}

/* Conteúdo do modal */
.modal-content {
  position: relative;
  max-width: 800px;
  max-height: 800px;
  width: 100%;
  height: auto;
  background-color: rgba(97, 97, 97, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão para fechar o modal */
.close-btn {
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: 30px;
  font-weight: bold;
  color: #212121;
  cursor: pointer;
  z-index: 100;
}

/* Estilo da imagem no modal */
.modal-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Garante que a imagem se ajuste corretamente sem distorcer */
}

/* Cards ajustáveis */
.card {
  max-width: 500px;
  max-height: auto;
  margin: auto;
  background: linear-gradient(to bottom,rgb(140, 140, 140, 0.8),rgb(245, 245, 245, 0.8));
}

.image-container {
  max-width: auto;
  max-height: auto;
  display: flex;
}

/* Ajustes de responsividade para telas pequenas */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .col {
      width: 100%;
      margin-bottom: 20px;
  }
}
