<div class="container">

  <div class="text-center">
    <p class="text fs-1 fw-bolder pt-3">Cantina Reis App</p>
    <p class="fs-3 fw-normal">Mobile E-commerce Project</p>
  <div class="fs-5">

  <div class="row align-items-center">
    <p class="fs-2 pt-1"></p>
    <div class="row align-items-center">
    <!-- Container da Imagem -->
    <div class="col-md-6 order-md-2 d-flex justify-content-center">
     <div class="image-container">
      <img src="assets/images/mobilebonitos.png" class="img-fluid rounded static-image" alt="cupcake morango"
      (click)="expandImage('assets/images/mobilebonitos.png')"> <!-- Clique para expandir a imagem -->
      </div>
    </div>

    <!-- Container do Texto -->
    <div class="col-md-6 order-md-1">
      <div class="p-4 text-start">
        <div class="fs-4">
          <p>App mobile e-commerce desenvolvido para agilizar o atendimento e diminuir as filas em horários de pico da cantina da universidade.</p>
          <p>Utilizamos Figma, React Native, Expo e JavaScript.</p>
          <p>01. Reuniões, pesquisas e entrevistas com a cliente e público-alvo (estudantes universitários).</p>
          <p>02. Wireframe</p>
          <p>03. Fluxo do usuário</p>
          <p>04. Protótipos (construídos no Figma)</p>
          <p>05. Escolha das cores considerando a cantina física para representação e identificação adequada.</p>
          <p>06. Desenvolvimento com React Native e Expo</p>
          <p>O aplicativo foi criado e está pronto para as novas etapas de desenvolvimento para integração com e-commerce.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="fs-4 pt-4"></p>
    <p class="text fs-2 fw-bolder pt-3">DETAILS</p>
  <div class="fs-5">
  <p class="fs-4 pt-1"></p>

 <!-- CARDÁPIO -->
 <div class="row row-cols-2 row-cols-md-3 g-4 pt-4">
  <div class="col" *ngFor="let item of cardapioItems">
    <div class="card c-cardapio">
      <img
        [src]="item.image"
        class="card-img-left cardapio"
        alt="{{ item.title }}"
        (click)="expandImage(item.image, item.linkUrl)">
      <div class="card-body text-center">
        <p class="card-title">{{ item.title }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal para exibir a imagem ampliada -->
<div class="modal" [ngClass]="{'show-modal': showModal}" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <img [src]="selectedImage" alt="Imagem ampliada" class="modal-img">
    <!-- Botão para abrir o link, se houver um link associado -->
    <div *ngIf="selectedLink" class="text-center fw-bold pt-2">
      <button class="btn btn-primary" (click)="openExternalLink()">CLICK ME</button>
    </div>
  </div>
  </div>
</div>
<p class="fs-1 pt-1"></p>
<p class="fs-1 pt-1"></p>
<p class="fs-1 pt-1"></p>
<p class="fs-1 pt-1"></p>

<div class="text-center">
  <p class="text fs-1 fw-bolder pt-3">Guerra dos Pets</p>
  <p class="fs-3 fw-normal">Mobile Project - Desafio UX/UI</p>
<div class="fs-5">

<div class="row align-items-center">
  <p class="fs-2 pt-1"></p>
  <div class="row align-items-center">
  <!-- Container da Imagem -->
  <div class="col-md-6 order-md-2 d-flex justify-content-center">
   <div class="image-container">
    <img src="assets/images/batlindao.png" class="img-fluid rounded static-image" alt="cupcake morango"
    (click)="expandImage('assets/images/batlindao.png')"> <!-- Clique para expandir a imagem -->
    </div>
  </div>

  <!-- Container do Texto -->
  <div class="col-md-6 order-md-1">
    <div class="p-4 text-start">
      <div class="fs-4">
        <p>O desafio se baseia na criação do design de um aplicativo, utilizando o Figma, onde serão postadas diariamente fotos de pets, sem edição, para serem votadas por todos os participantes.</p>
        <p>Os 5 pets mais votados se consagram campeões do dia.</p>
        <p>Etapa 1: Plano Estrutura - Completar Fluxo do Usuário</p>
        <p>Etapa 2: Plano Esqueleto - Completar Telas Wireframe</p>
        <p>Etapa 3: Plano Superfície - Completar Criação da UI</p>
        <p>As atividades acompanharam a evolução dos módulos da Trilha para Elas - Introdução ao Design UX/UI, para as alunas colocarem na prática os aprendizados, como por exemplo, os 5 Planos de Garrett.</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <p class="fs-4 pt-4"></p>
  <p class="text fs-2 fw-bolder pt-3">DETAILS</p>
<div class="fs-5">
<p class="fs-4 pt-1"></p>

<!-- CARDÁPIO -->
<div class="row row-cols-2 row-cols-md-3 g-4 pt-4">
<div class="col" *ngFor="let item of batalhaItems">
  <div class="card c-batalha">
    <img
      [src]="item.image"
      class="card-img-left batalha"
      alt="{{ item.title }}"
      (click)="expandImage(item.image, item.linkUrl)">
    <div class="card-body text-center">
      <p class="card-title">{{ item.title }}</p>
      <!-- <p class="card-text fs-6">{{ item.description }}</p> -->
    </div>
  </div>
</div>
</div>

<!-- Modal para exibir a imagem ampliada -->
<div class="modal" [ngClass]="{'show-modal': showModal}" (click)="closeModal()">
<div class="modal-content" (click)="$event.stopPropagation()">
  <span class="close-btn" (click)="closeModal()">&times;</span>
  <img [src]="selectedImage" alt="Imagem ampliada" class="modal-img">
  <!-- Botão para abrir o link, se houver um link associado -->
  <div *ngIf="selectedLink" class="text-center fw-bold pt-2">
    <button class="btn btn-primary" (click)="openExternalLink()">CLICK ME</button>
  </div>
</div>
</div>
</div>
