.navbar a {
  color: #212121;
  background-color: none;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.navbar-nav .nav-link.active-link {
  color: #8a8a8a !important; /* Certifique-se que a cor se aplique */
  font-weight: bold; /* Deixe em negrito para destaque */
}

