/* Cards ajustáveis */
/* Cards ajustáveis */
.card {
  max-width: auto;
  max-height: auto;
  margin: auto;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente */
}
