/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
/* @import '~ngx-toastr/toastr'; */

@media screen and (max-width: 1025px) {
  /* Here are some changes*/
}

/* Mobile device styles */
@media screen and (max-width: 480px) {
      /* Here are some changes*/
}

/* Ajustes de responsividade para telas pequenas */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .col {
      width: 100%;
      margin-bottom: 20px;
  }
}

a {
  text-decoration: none;
  color: #212121;
  transition: color 0.3s;

  &:hover {
    color: #616161;
  }
}

/* Responsividade simples usando Flexbox */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: rgb(300, 300, 300, 0.6);
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Josefin Sans', sans-serif;
  color: #212121;
}

.container-fluid {
  background: linear-gradient(to right, rgb(245, 245, 245, 0.8),rgb(97, 97, 97, 0.8));
  padding-top: 12px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  font-weight: bold;
  letter-spacing: 0.05em;
}

#home {
  color: #616161;
  font-weight: bold;
  margin-right: 2rem;
  margin-left: 1rem;
}

.footer {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8),rgb(97, 97, 97, 0.8));
  padding: 1.2rem;
  color: #212121;
  font-family: 'Josefin Sans', sans-serif;
}

h1.title {
  font-size: 2rem;
  text-align: center;
}

h1, p {
  color: #212121;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom,rgb(140, 140, 140, 0.6),rgb(245, 245, 245, 0.6));
}

.card:hover {
  transform: translateY(-10px); /* Efeito de hover para destacar os cards */
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212121;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  color: #212121;
}

.card-image {
  padding:1rem;
}

.btn-primary{
  text-decoration: none;
  margin-bottom: 4rem;
  position: relative;
  /* background-color: #212121; */
  transition: color 0.3s;
  /* border-color: #212121; */

  &:hover {
    color: #616161;
  }
}

.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 100; /* Garantir que fique sobre outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
  justify-content: center;
  align-items: center;
}

/* Quando o modal estiver ativo */
.show-modal {
  display: flex; /* Exibir o modal e centralizar conteúdo */
}

/* Conteúdo do modal */
.modal-content {
  position: relative;
  max-width: 800px;
  max-height: 800px;
  width: 100%;
  height: auto;
  background-color: #616161cc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão para fechar o modal */
.close-btn {
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: 30px;
  font-weight: bold;
  color: #212121;
  cursor: pointer;
  z-index: 100;
}

/* Estilo da imagem no modal */
.modal-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Garante que a imagem se ajuste corretamente sem distorcer */
}
