.logotipo-container {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
}

.text-center {
  color: #212121; /* Cor do texto */
  font-weight: bold; /* Deixe o texto em negrito, se preferir */
  white-space: nowrap; /* Evita que o texto quebre a linha */
}

.img-fluid {
  margin-top: -2rem;
  max-height: 90%;
  max-width: 90%;
  /* padding: 1rem; */
  position:center;
  display:flex;
  margin-bottom: -20px;
}

/* Cards ajustáveis */
.card {
  width: 300px;
  max-width: 200px;
  margin: 20px auto;
}


